<ng-container>
    <!-- Checkbox para selección múltiple -->
    <th class="w-[50px]">
      <input 
        (change)="toggle($event)" 
        class="checkbox checkbox-sm" 
        data-datatable-check="true" 
        type="checkbox" 
      />
    </th>
    <!-- Título -->
    <th class="min-w-[200px]">Título</th>

    <!-- Categoría -->
    <th class="min-w-[180px]">Categoría</th>

    <!-- Estado -->
    <th class="min-w-[150px]">Estado</th>

    <!-- Prioridad -->
    <th class="min-w-[120px]">Prioridad</th>

    <!-- Fecha de creación -->
    <th class="min-w-[200px]">Fecha de Creación</th>

    <!-- Fecha de cierre -->
    <!-- <th class="min-w-[200px]">Fecha de Cierre</th> -->

    <!-- Usuario solicitante -->
    <th class="min-w-[200px]">Usuario Solicitante</th>

    <!-- Asignado a -->
    <th class="min-w-[200px]">Asignado a</th>

    <!-- Botones de acciones -->
    <th class="min-w-[150px]">Ediitar</th>
    <!-- Columna para acciones (editar, eliminar, ver) -->
    <th class="min-w-[100px]">Eliminar</th>
    <th class="min-w-[100px]">Compartir</th>
    <!-- Columna para acciones -->
    <th class="w-[90px]"></th>

  </ng-container>
  