<div class="flex h-screen text-gray-800">
  <div class="flex flex-row">
    <!-- Lista de Chats -->
    <app-chat-list (chatSelected)="onChatSelected($event)"></app-chat-list>
  </div>

  <!-- Sección de Detalles del Chat -->
  <div class="flex-1 p-4 overflow-y-auto">
    <div *ngIf="selectedChatId; else noChatSelected" class="transition-all">
      <app-chat-detail *ngIf="selectedChatId" [chatId]="selectedChatId" [user]="selectedUser"  (chatClosed)="handleChatClose()"></app-chat-detail>
    </div>
    <!-- Mensaje cuando no hay chat seleccionado -->
    <ng-template #noChatSelected>
      <div class="flex justify-center items-center h-full">
        <span class="text-gray-500">Por favor selecciona un chat para ver los detalles o crea uno nuevo.</span>
      </div>
    </ng-template>
  </div>
</div>