<td class="py-2 pr-2">
  <div class="flex items-center">
    <img
      src="assets/icons/task-icon.svg"
      class="mr-2 h-10 w-10 flex-none rounded-sm"
      alt="Task Icon"
    />
    <div class="flex flex-col justify-items-start">
      <a href="#" class="mb-1 text-sm font-semibold text-foreground">{{ task.title }}</a>
      <span class="text-xs font-semibold text-muted-foreground/50">Asignado a : {{ task.assignedTo }}</span>
    </div>
  </div>
</td>
<td class="py-2 pl-2 text-right">
  <span class="text-sm font-semibold text-muted-foreground">{{ task.priority }}</span>
</td>
<td class="py-2 pl-2 text-right">
  <span class="text-sm font-semibold text-muted-foreground">{{ task.dueDate || 'No Deadline' }}</span>
</td>
<td class="py-2 pl-2 text-right">
  <span class="text-sm font-semibold text-muted-foreground">{{ task.completed ? 'Yes' : 'No' }}</span>
</td>
<td class="py-2 pl-2 text-right">
  <div class="flex justify-end">
    <button
      class="flex h-7 w-7 items-center justify-center rounded-md bg-card text-muted-foreground hover:bg-muted hover:text-foreground">
      <svg-icon src="assets/icons/heroicons/outline/arrow-sm-right.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
    </button>
  </div>
</td>