<div class="flex flex-wrap items-center justify-between gap-2 py-3 px-5">
  <h3 class="text-sm font-medium text-muted-foreground">
    Mostrando {{ filteredTickets.length }} de {{ ticket.length }} tickets
  </h3>
    <div class="flex flex-wrap gap-2">
      <div class="flex">
        <label class="relative text-muted-foreground">
          <div class="absolute left-2.5 top-2.5">
            <svg-icon src="./../../../../../../assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
          </div>
          <input
            name="search"
            class="py-2 pl-8 pr-2"
            placeholder="Buscar productos"
            type="text"
            value=""
            (input)="onSearchChange($event)" />
        </label>
      </div>
      <!-- Filtros de categoría y orden -->
      <div class="flex flex-wrap gap-2.5">
        <!-- Filtro por prioridad de tickets -->
        <select name="priority" class="w-28 p-2 text-muted-foreground" (change)="onPriorityChange($event)">
          <option value="">Todas</option>
          <option value="Baja">Baja</option>
          <option value="Media">Media</option>
          <option value="Alta">Alta</option>
        </select>
        
        <!-- Filtro por estado de ticket -->
        <!-- <select name="status" class="w-28 p-2 text-muted-foreground" (change)="onStatusChange($event)">
          <option value="">Ambos</option>
          <option value="Pendiente">Pendiente</option>
          <option value="Completado">Completado</option>
        </select> -->

        <!-- Orden de los tickets -->
        <select name="order" class="w-28 p-2 text-muted-foreground" (change)="onOrderChange($event)">
          <option value="1">Más recientes</option>
          <option value="2">Más antiguos</option>
          <option value="3">Mayor prioridad</option>
          <option value="4">Menor prioridad</option>
        </select>
      </div>
    </div>
</div>
    