<ng-container>
  <!-- Columna para seleccionar filas -->
  <th class="w-[10px]">
    <input (change)="onCheckChange($event)" class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox" />
  </th>
  <!-- Columna para el cliente -->
  <th class="min-w-[20px]">Cliente</th>
  <!-- Columna para el proyecto -->
  <th class="min-w-[300px]">Proyecto</th>
  <!-- Columna para la calificación -->
  <th class="min-w-[150px]">Calificación</th>
  <!-- Columna para el comentario -->
  <th class="min-w-[200px]">Comentario</th>
  <!-- Columna para el tipo de proyecto -->
  <th class="min-w-[150px]">Tipo Proyecto</th>
  <!-- Columna para la fecha de creación -->
  <th class="min-w-[120px]">Fecha Creación</th>
  <!-- Columna para editar -->
  <th class="min-w-[150px]">Editar</th>
  <!-- Columna para eliminar -->
  <th class="min-w-[100px]">Eliminar</th>
  <!-- Columna para acciones -->
  <th class="w-[90px]"></th>
</ng-container>