<ng-container>
  <!-- Columna para seleccionar filas -->
  <th class="w-[10px]">
    <input (change)="onCheckChange($event)" class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox" />
  </th>
  <!-- Columna para el título del recurso -->
  <th class="min-w-[200px]">Título</th>
  <!-- Columna para la descripción -->
  <th class="min-w-[250px]">Descripción</th>
  <!-- Columna para el tipo -->
  <th class="min-w-[120px]">Tipo</th>
  <!-- Columna para la categoría -->
  <th class="min-w-[130px]">Categoría</th>
  <!-- Columna para la fecha de creación -->
  <th class="min-w-[120px]">Fecha Creación</th>
  <!-- Columna para editar -->
  <th class="min-w-[80px]">Editar</th>
  <!-- Columna para eliminar -->
  <th class="min-w-[80px]">Eliminar</th>
  <!-- Columna para ver -->
  <th class="min-w-[100px]">Ver</th>
</ng-container>