<div class="flex flex-wrap items-center justify-between gap-2 py-3 px-5">
  <h3 class="text-sm font-medium text-muted-foreground">
    Mostrando {{ filteredProduct.length }} de {{ product.length }} productos
  </h3>
  <div class="flex flex-wrap gap-2">
    <div class="flex">
      <label class="relative text-muted-foreground">
        <div class="absolute left-2.5 top-2.5">
          <svg-icon src="./../../../../../../assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        </div>
        <input
          name="search"
          class="py-2 pl-8 pr-2"
          placeholder="Buscar productos"
          type="text"
          value=""
          (input)="onSearchChange($event)" />
      </label>
    </div>
    <div class="flex flex-wrap gap-2.5">
      <select name="category" class="w-28 p-2 text-muted-foreground" (change)="onStatusChange($event)">
        <option value="">Todas</option>
        <option *ngFor="let category of categories" [value]="category.category">{{ category.category }}</option>
      </select>
      <select name="order" class="w-28 p-2 text-muted-foreground" (change)="onOrderChange($event)">
        <option value="1">Más reciente</option>
        <option value="2">Más antiguo</option>
        <option value="3">Mayor precio</option>
        <option value="4">Menor precio</option>
      </select>
    </div>
  </div>

  <!-- <button 
    class="px-4 py-2 bg-red-500 text-white rounded-md"
    (click)="deleteSelected()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M4 7l16 0" />
      <path d="M10 11l0 6" />
      <path d="M14 11l0 6" />
      <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
      <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
    </svg>
  </button> -->
</div>
  