<ng-container>
  <th class="w-[50px] py-4 px-3 text-center">
    <input
      type="checkbox"
      (change)="onCheckChange($event)"
      class="h-4 w-4 rounded border-muted text-primary focus:ring-2 focus:ring-primary focus:ring-offset-0" />
  </th>
  <th class="min-w-[220px] py-4 px-3 text-left font-semibold text-xs text-muted-foreground">
    Nombre / Sección
  </th>
  <th class="min-w-[200px] py-4 px-3 text-left font-semibold text-xs text-muted-foreground">
    Descripción
  </th>
  <th class="min-w-[120px] py-4 px-3 text-center font-semibold text-xs text-muted-foreground">
    Estado
  </th>
  <th class="min-w-[80px] py-4 px-3 text-center font-semibold text-xs text-muted-foreground">
    Orden
  </th>
  <th class="min-w-[140px] py-4 px-3 text-left font-semibold text-xs text-muted-foreground">
    Fecha
  </th>
  <th class="w-[80px] py-4 px-3 text-center font-semibold text-xs text-muted-foreground">
    Editar
  </th>
  <th class="w-[80px] py-4 px-3 text-center font-semibold text-xs text-muted-foreground">
    Eliminar
  </th>
  <th class="w-[90px] py-4 px-3 text-center font-semibold text-xs text-muted-foreground">
    Ver
  </th>
</ng-container>


