<ng-container>
    <!-- Columna para seleccionar filas -->
    <th class="w-[10px]">
      <input (change)="toggle($event)" class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox" />
    </th>
    <!-- Columna para el título de la tarea -->
    <th class="min-w-[20px]">Tareas</th>
    <!-- Columna para la descripción -->
    <!-- <th class="min-w-[300px]">Descripción</th> -->
    <!-- Columna para la persona asignada -->
    <th class="min-w-[150px]">Asignado a</th>
    <!-- Columna para la prioridad -->
    <th class="min-w-[150px]">Prioridad</th>
    <!-- Columna para la fecha límite -->
    <th class="min-w-[120px]">Fecha Límite</th>
    <!-- Columna para el estado -->
    <th class="min-w-[150px]">Estado</th>
    <!-- Columna para acciones (editar, eliminar, ver) -->
    <th class="min-w-[150px]">Ediitar</th>
    <!-- Columna para acciones (editar, eliminar, ver) -->
    <th class="min-w-[100px]">Eliiminar</th>
    <!-- Columna para acciones -->
    <th class="w-[90px]"></th>
</ng-container>