<!-- Card -->
<div class="flex h-[420px] flex-col rounded-lg bg-background p-8">
  <!-- Image -->
  <div
  [ngStyle]="{ 
    'background-image': 'url(' + (product.imageUrl || 'assets/avatars/avt-02.jpg') + ')', 
    'background-position': 'center', 
    'background-size': '60%', 
    'background-repeat': 'no-repeat' 
  }"
  class="h-[340px] cursor-pointer rounded-md transition duration-150 ease-in-out hover:opacity-75">
</div>
  
  <!-- Description  -->
  <h2 class="text-md mt-6 font-semibold text-foreground">{{ product.name }}</h2>

  <!-- Stock and Price  -->
  <div class="flex items-end justify-between text-sm font-semibold text-muted-foreground">
    Stock: {{ product.stock }}
    <span>{{ product.price | currency }}</span>
  </div>

  <!-- Buttons -->
  <div class="mt-6 flex items-center justify-between">
    <button
      class="hover:bg-primary-600 flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground"  (click)="viewProduct(product.id)">
      Ver Producto
    </button>
  </div>
</div>