<ng-container>
    <!-- Checkbox -->
    <th class="w-[50px] py-4 px-3 text-center">
        <input type="checkbox" (change)="onCheckChange($event)"
            class="h-4 w-4 rounded border-muted text-primary focus:ring-2 focus:ring-primary focus:ring-offset-0" />
    </th>
    <!-- Título -->
    <th class="min-w-[200px] py-4 px-3 text-left font-semibold text-xs text-muted-foreground">Título</th>
    <!-- Categoría -->
    <th class="min-w-[100px] py-4 px-3 text-left font-semibold text-xs text-muted-foreground">Categoría</th>
    <!-- Orden -->
    <th class="min-w-[70px] py-4 px-3 text-center font-semibold text-xs text-muted-foreground">Orden</th>
    <!-- Estado -->
    <th class="min-w-[100px] py-4 px-3 text-center font-semibold text-xs text-muted-foreground">Estado</th>
    <!-- Fecha -->
    <th class="min-w-[140px] py-4 px-3 text-left font-semibold text-xs text-muted-foreground">Fecha</th>
    <!-- Editar -->
    <th class="w-[80px] py-4 px-3 text-center font-semibold text-xs text-muted-foreground">Editar</th>
    <!-- Eliminar -->
    <th class="w-[80px] py-4 px-3 text-center font-semibold text-xs text-muted-foreground">Eliminar</th>
    <!-- Ver -->
    <th class="w-[90px] py-4 px-3 text-center font-semibold text-xs text-muted-foreground">Ver</th>
</ng-container>