<div class="flex flex-wrap items-center justify-between gap-2 py-3 px-5">
  <h3 class="text-sm font-medium text-muted-foreground">
    Mostrando {{ filteredTeams.length }} de {{ teams.length }} equipos
  </h3>
  <!-- Contenedor de filtros y búsqueda -->
  <div class="flex flex-wrap gap-2">
    <!-- Búsqueda de equipos -->
    <div class="flex">
      <label class="relative text-muted-foreground">
        <div class="absolute left-2.5 top-2.5">
          <svg-icon src="./../../../../../../assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        </div>
        <input
          name="search"
          class="py-2 pl-8 pr-2"
          placeholder="Buscar equipos"
          type="text"
          value=""
          (input)="onSearchChange($event)" />
      </label>
    </div>
    
    <!-- Filtros de departamento y orden -->
    <div class="flex flex-wrap gap-2.5">
      <!-- Filtro por departamento -->
      <select name="department" class="w-28 p-2 text-muted-foreground" (change)="onDepartmentChange($event)">
        <option value="">Todos</option>
        <option value="Desarrollo">Desarrollo</option>
        <option value="Diseño">Diseño</option>
        <option value="Marketing">Marketing</option>
        <option value="Ventas">Ventas</option>
        <option value="Soporte">Soporte</option>
        <option value="Recursos Humanos">Recursos Humanos</option>
        <option value="Finanzas">Finanzas</option>
        <option value="Operaciones">Operaciones</option>
        <option value="Otros">Otros</option>
      </select>
      
      <!-- Filtro por estado de equipo -->
      <select name="status" class="w-28 p-2 text-muted-foreground" (change)="onStatusChange($event)">
        <option value="">Todos</option>
        <option value="Activo">Activo</option>
        <option value="Inactivo">Inactivo</option>
        <option value="En Formación">En Formación</option>
        <option value="Disuelto">Disuelto</option>
      </select>

      <!-- Orden de los equipos -->
      <select name="order" class="w-28 p-2 text-muted-foreground" (change)="onOrderChange($event)">
        <option value="1">Más recientes</option>
        <option value="2">Más antiguos</option>
        <option value="3">A-Z</option>
        <option value="4">Z-A</option>
      </select>
    </div>
  </div>
</div> 