<div class="mb-6 flex justify-between items-center">
  <div class="inline-block">
    <h3 class="text-xl font-semibold text-foreground">Blog Posts</h3>
    <div class="text-xs font-medium text-muted-foreground">
      <a href="" class="hover:text-primary">Todos los Posts: </a>
      <span class="text-foreground">{{ filteredBlogPosts().length }}</span>
    </div>
  </div>
  <div class="flex flex-wrap items-center gap-2 sm:space-x-4">
    <button (click)="openExportConfirmation('pdf')"
      class="flex items-center justify-center rounded-md bg-muted px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:text-foreground">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="#d32f2f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-pdf">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
        <path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
        <path d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6" />
        <path d="M17 18h2" />
        <path d="M20 15h-3v6" />
        <path d="M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z" />
      </svg>
    </button>
  
    <button (click)="openExportConfirmation('csv')"
      class="flex items-center justify-center rounded-md bg-muted px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:text-foreground">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="#4caf50" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-csv">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
        <path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
        <path d="M7 16.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0" />
        <path d="M10 20.25c0 .414 .336 .75 .75 .75h1.25a1 1 0 0 0 1 -1v-1a1 1 0 0 0 -1 -1h-1a1 1 0 0 1 -1 -1v-1a1 1 0 0 1 1 -1h1.25a.75 .75 0 0 1 .75 .75" />
        <path d="M16 15l2 6l2 -6" />
      </svg>
    </button>
  
    <button (click)="openModal()"
      class="flex items-center justify-center rounded-md px-4 py-2.5 text-xs font-semibold text-white w-full sm:w-auto"
      [style.background-color]="'#6EC1E4'">
      Agregar Post
    </button>

    <app-modal 
      [isOpen]="isModalOpenExport"
      (confirm)="handleExportConfirmation(isExporting!)"
      (cancel)="isModalOpenExport = false">
    </app-modal>
  </div>
</div>

<app-add-blog-modal *ngIf="isModalOpen" [blogPost]="selectedPost" (save)="handleFormSubmit($event)" (cancel)="closeModal()"></app-add-blog-modal>

<div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
  <app-blog-action
    [totalPosts]="totalPosts"
    (searchChange)="onSearchChange($event)"
    (categoryChange)="onCategoryChange($event)"
    (statusChange)="onStatusChange($event)">
  </app-blog-action>
  <div class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-x-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
    <table class="table w-full table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
      <thead class="border border-muted/20 text-xs text-muted-foreground">
        <tr app-blog-header (onCheck)="togglePosts($event)"></tr>
      </thead>
      <tbody>
        <tr class="hover:bg-card/50" *ngFor="let post of pagedBlogPosts(); let i=index" app-blog-row [blogPost]="post" [onEditPost]="openEditModal.bind(this)" (editPost)="openEditModal($event)" (deletePost)="deleteBlogPost($event)"></tr>
        <tr *ngIf="filteredBlogPosts().length === 0">
          <td class="py-4 text-center text-sm" colspan="10">No se encontraron posts</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-blog-footer
    [currentPage]="currentPage"
    [totalPosts]="totalPosts"
    [pageSize]="pageSize"
    (pageChanged)="changePage($event)"
    (pageSizeChanged)="changePageSize($event)">
  </app-blog-footer>
</div>