<div class="flex h-screen w-screen">
   <!-- 
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="https://media.istockphoto.com/id/1346944001/es/foto/primer-plano-de-compa%C3%B1eros-de-trabajo-apilando-sus-manos-juntas.jpg?s=612x612&w=0&k=20&c=TLFYe08PCI1tAcsuB1EwKlIKC74eFAwC7jAF2ssHVl0=" alt="dashboard widget" />
      <h1 class="text-4xl font-bold">Descubre nuestras soluciones tecnológicas</h1>
      <p class="text-xs font-light">
        Descubre cómo nuestras soluciones tecnológicas pueden transformar tu negocio y llevarlo al siguiente nivel en el competitivo mundo digital.
        Ofrecemos herramientas innovadoras y servicios personalizados diseñados para optimizar tus procesos, mejorar la eficiencia y maximizar tus resultados.
        Ya sea que busques una plataforma de gestión avanzada, soluciones de automatización, o estrategias digitales a medida, estamos aquí para ayudarte a alcanzar
        tus objetivos. Impulsa tu éxito con tecnologías que se adaptan a las necesidades de tu empresa y te preparan para enfrentar los desafíos del futuro.
      </p>
    </div>
  </div>
  -->
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <img src="assets/avatars/avt-02.jpg" alt="logo" class="h-6 w-6" />
        <b class="text-md pl-3 font-bold text-foreground"> Constructora</b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
