<ng-container>
  <!-- Columna para seleccionar filas -->
  <th class="w-[10px]">
    <input (change)="onCheckChange($event)" class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox" />
  </th>
  <!-- Columna para el título del post -->
  <th class="min-w-[20px]">Título</th>
  <!-- Columna para el extracto -->
  <th class="min-w-[300px]">Extracto</th>
  <!-- Columna para el autor -->
  <th class="min-w-[150px]">Autor</th>
  <!-- Columna para la categoría -->
  <th class="min-w-[150px]">Categoría</th>
  <!-- Columna para el estado -->
  <th class="min-w-[150px]">Estado</th>
  <!-- Columna para la fecha de creación -->
  <th class="min-w-[120px]">Fecha Creación</th>
  <!-- Columna para editar -->
  <th class="min-w-[150px]">Editar</th>
  <!-- Columna para eliminar -->
  <th class="min-w-[100px]">Eliminar</th>
  <!-- Columna para acciones -->
  <th class="w-[90px]"></th>
</ng-container>