<div
  class="flex min-h-[420px] flex-col rounded-lg bg-background p-8 sm:flex-row justify-center items-center"
>
  <!-- Logo de vzor-cms -->
  <div class="flex justify-center items-center w-full mb-6 sm:mb-0">
    <img
      src="https://res.cloudinary.com/drju7lpxl/image/upload/v1713219933/vzor-cms/logo/mainLogo.webp"
      alt="vzor-cms Logo"
      class="max-w-[200px] sm:max-w-[250px] mb-4 sm:mb-0 rounded-full"
    />
  </div>

  <!-- Descripción de la Empresa -->
  <div
    class="flex flex-1 flex-col justify-center text-center sm:text-left sm:ml-6"
  >
    <h2 class="text-2xl font-semibold text-foreground mb-2">
      Descubre nuestras soluciones tecnológicas
    </h2>
    <p class="text-sm text-muted-foreground mb-4">
      Desvela el potencial de tu empresa con nuestras soluciones tecnológicas
      diseñadas para impulsar tu éxito en el mundo digital.
    </p>
    <div class="flex items-center justify-center sm:justify-start">
      <button
        class="hover:bg-primary-600 flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground"
      >
        Saber Más
      </button>
      <button
        class="ml-4 flex-none rounded-md bg-card px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:bg-muted hover:text-foreground"
      >
        Contáctanos
      </button>
    </div>
  </div>
</div>
