<div class="mb-6 flex justify-between items-center">
    <div class="inline-block">
        <h3 class="text-xl font-semibold text-foreground">Nuevos Clientes</h3>
        <div class="text-xs font-medium text-muted-foreground">
            <a href="" class="hover:text-primary">Total de Clientes: </a>
            <span class="text-foreground">{{ filteredClients().length }}</span>
        </div>
    </div>
    <div class="flex flex-wrap items-center gap-2 sm:space-x-4">
        <button (click)="openModal()"
            class="flex items-center justify-center rounded-md px-4 py-2.5 text-xs font-semibold text-white w-full sm:w-auto"
            [style.background-color]="'#6EC1E4'">
            Agregar Cliente
        </button>
    </div>
</div>

<div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
    <app-client-action [totalClients]="totalClients" (searchChange)="onSearchChange($event)"
        (statusChange)="onStatusChange($event)">
    </app-client-action>
    <div
        class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-x-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
        <table
            class="table w-full table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
            <thead class="border border-muted/20 text-xs text-muted-foreground">
                <tr app-client-header (onCheck)="toggleClients($event)"></tr>
            </thead>
            <tbody>
                <tr class="hover:bg-card/50" *ngFor="let client of pagedClients(); let i=index" app-client-row
                    [client]="client" (editClient)="openEditModal($event)" (viewClient)="viewClient($event)"
                    (deleteClient)="deleteClient($event)"></tr>
                <tr *ngIf="filteredClients().length === 0">
                    <td class="py-4 text-center text-sm" colspan="8">No se encontraron clientes</td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-client-footer [currentPage]="currentPage" [totalClients]="totalClients" [pageSize]="pageSize"
        (pageChanged)="changePage($event)" (pageSizeChanged)="changePageSize($event)">
    </app-client-footer>
</div>