<div class="flex flex-wrap items-center justify-between gap-2 py-3 px-5">
  <h3 class="text-sm font-medium text-muted-foreground">
    Mostrando {{ filteredProjects.length }} de {{ projects.length }} proyectos
  </h3>
  <!-- Contenedor de filtros y búsqueda -->
  <div class="flex flex-wrap gap-2">
    <!-- Búsqueda de proyectos -->
    <div class="flex">
      <label class="relative text-muted-foreground">
        <div class="absolute left-2.5 top-2.5">
          <svg-icon src="./../../../../../../assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        </div>
        <input
          name="search"
          class="py-2 pl-8 pr-2"
          placeholder="Buscar proyectos"
          type="text"
          value=""
          (input)="onSearchChange($event)" />
      </label>
    </div>
    
    <!-- Filtros de categoría y orden -->
    <div class="flex flex-wrap gap-2.5">
      <!-- Filtro por categoría de proyectos -->
      <select name="category" class="w-28 p-2 text-muted-foreground" (change)="onCategoryChange($event)">
        <option value="">Todas</option>
        <option value="Desarrollo">Desarrollo</option>
        <option value="Diseño">Diseño</option>
        <option value="Marketing">Marketing</option>
        <option value="Ventas">Ventas</option>
        <option value="Soporte">Soporte</option>
        <option value="Investigación">Investigación</option>
        <option value="Infraestructura">Infraestructura</option>
        <option value="Otros">Otros</option>
      </select>
      
      <!-- Filtro por estado de proyecto -->
      <select name="status" class="w-28 p-2 text-muted-foreground" (change)="onStatusChange($event)">
        <option value="">Todos</option>
        <option value="Activo">Activo</option>
        <option value="Pendiente">Pendiente</option>
        <option value="Completado">Completado</option>
        <option value="Cancelado">Cancelado</option>
        <option value="En Pausa">En Pausa</option>
        <option value="En Revisión">En Revisión</option>
      </select>

      <!-- Orden de los proyectos -->
      <select name="order" class="w-28 p-2 text-muted-foreground" (change)="onOrderChange($event)">
        <option value="1">Más recientes</option>
        <option value="2">Más antiguos</option>
        <option value="3">A-Z</option>
        <option value="4">Z-A</option>
      </select>
    </div>
  </div>
</div>